* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url('img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.full-cont {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Product Sans', Arial, sans-serif;
}


/* question box style */

.questions {
    border: none;
    width: 450px;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 25px;
    border-radius: 15px;
    position: absolute;
    bottom: 190px;
    display: none;
}

.questions.visible {
    display: block;
    animation: over 500ms forwards;
}

@keyframes over {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.timer {
    position: absolute;
    right: 10px;
    padding: 10px;
    top: 4px;
    background: black;
    color: white;
    border-radius: 10px;
}

.timeleft {
    background: red;
    color: white;
    padding: 3px;
    border-radius: 5px;
}

.question {
    border: 2px solid white;
    padding: 15px;
    margin: 25px 0px;
    color: black;
    background-color: white;
    border-radius: 20px;
}

.answer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px;
}

.ansbtn {
    cursor: pointer;
    width: 200px;
    height: fit-content;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    font-size: 20px;
}

.ansbtn:hover {
    background: black;
    color: white;
}


/* amount table style */

.point-table {
    color: white;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    right: 150px;
    text-align: center;
    border-radius: 15px;
    transform: translate(50%);
    display: none;
}

.point-table.visible {
    display: block;
    animation: slide 500ms forwards;
}

.amount {
    color: black;
    border: 2px solid;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 0px 0px black;
    opacity: 0.5;
    cursor: default;
    transition: 500ms ease-in-out;
}

.point-table p.win {
    opacity: 1;
    transform: scale(1.3);
}


/* life line style */

.lifelines {
    position: absolute;
    left: 150px;
    display: none;
    flex-direction: column;
}

.lifelines.visible {
    display: flex;
    animation: slide 500ms forwards;
}

@keyframes slide {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.lifelines h3 {
    margin-left: -30px;
    color: white;
    font-size: 2rem;
    cursor: default;
    position: relative;
}

.lifelines h3.used {
    opacity: 0.3;
}

.lifelines h3::after {
    content: "";
    height: 3px;
    width: 0%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    bottom: -10px;
    transition: 0.9s;
}

.lifelines h3:hover::after {
    width: 50%;
}

.options {
    border-radius: 50%;
    padding: 10px;
    width: fit-content;
    border: none;
    margin: 25px 0px;
    cursor: pointer;
    position: relative;
}

.options img {
    border-radius: 50%;
}

#computer.click img {
    filter: opacity(0.1);
}

#fifty.click img {
    filter: opacity(0.1);
}

#audience.click img {
    filter: opacity(0.1);
}

#double.click img {
    filter: opacity(0.1);
}


/* game start,win,over style */

.gamestart,
.gameover,
.wingame,
.timeup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 3rem;
}

.gamestart h3 {
    cursor: pointer;
}

.gamestart h3,
.gameover h3,
.wingame h3,
.timeup h3 {
    margin: 15px 0;
    position: relative;
}

.gameover .restart,
.wingame .restart,
.timeup .restart {
    margin-top: 20px;
    border: 1px solid red;
    padding: 10px;
    font-size: 30px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.4s;
}

.gameover .restart:hover,
.wingame .restart:hover,
.timeup .restart:hover {
    background-color: red;
    border: none;
    color: white;
}

.gamestart .start::after,
.gamestart .rules::after {
    content: "";
    height: 3px;
    width: 0%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    bottom: -10px;
    transition: 0.9s;
}

.gamestart .start:hover::after,
.gamestart .rules:hover::after {
    width: 50%;
}

.gamestart.visible,
.gameover.visible,
.wingame.visible,
.timeup.visible {
    display: flex;
    flex-direction: column;
    animation: overlay 500ms forwards;
}

@keyframes overlay {
    from {
        font-size: 0px;
    }
    to {
        font-size: 3rem;
    }
}


/* rules section */

.rule {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.9);
}

.play {
    height: 450px;
    width: 650px;
}

.rule.video {
    display: flex;
}

.rulesboxcont {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
}

.rulesboxcont.visible {
    display: flex;
}

.lifelinerules {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    line-height: 45px;
    position: relative;
    width: 700px;
}

.rulesbox {
    display: flex;
    margin: 20px 0;
}

.rulesbox1 {
    display: flex;
    flex-direction: column;
}

.rulesbox1 h3 {
    text-decoration: red underline;
    font-size: 30px;
}

.rulesbox1 p::before {
    content: "\002A";
    font-size: 40px;
    position: absolute;
    left: -20px;
    top: 8px;
}

.rulesbox img {
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
}

.rulesbox p,
.rulesbox1 p {
    margin-left: 20px;
    font-size: 15px;
    text-decoration: underline;
    text-align: justify;
    position: relative;
}

.ok {
    position: absolute;
    right: 20px;
    bottom: 15px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.ok:hover {
    background-color: red;
    color: white;
}